<h1>ジャンル一覧・追加</h1>
<%= form_with model: [:admin,@genre], lacal:true do |f| %>
  ジャンル<span><%= f.text_field :name %></span>
  <%= f.submit "新規登録" %>
<% end %>
<h2>ジャンル</h2>
<% @genres.each do |genre| %>
<table>
  <td><%= genre.name %></td>
  <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
</table>
<% end %>
