<h1>管理者トップページ（注文一覧画面）</h1>
</br>
<span>注文履歴一覧</span>
<table>
  <% @order_items.each do |order_item| %>
  <tr>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>注文ステータス</td>
  </tr>
   <tr>
    <td>
      <%= link_to admin_orders_path(order_item.order.id) do %>
        <%= l order_item.created_at %>
      <% end %>
      </td>
    <td><%= order_item.order.full_name %></td>
    <td><%= order_item.amount %></td>
    <td><%= "-" %></td>
  </tr>
  <% end %>
</table>