<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <li><%= link_to "LOGO", items_path %></li>
      <li><%= link_to "マイページ", my_page_path %></li>
      <li><%= link_to "商品一覧", items_path %></li>
      <li><%= link_to "カート", orders_path %></li>
      <li><%= link_to "ログアウト", customers_sign_out_path,method: :delete %></li>
    <% elsif admin_signed_in? %>
      <li><%= link_to "LOGO", admin_items_path %></li>
      <li><%= link_to "商品一覧", admin_items_path %></li>
      <li><%= link_to "会員一覧", admin_customers_path %></li>
      <li><%= link_to "注文履歴一覧", admin_path %></li>
      <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path,method: :delete %></li>
    <% else %>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "商品一覧", items_path %></li>
      <li><%= link_to "新規登録", customers_sign_up_path %></li>
      <li><%= link_to "ログイン", customers_sign_in_path %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
